* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif, helvetica, arial;
}

/*--------Layout 1------------*/
.layout1{

    background: linear-gradient( 75deg, #e9e9e9 50%, #82F4D3 50% );
    height: 100vh;
}

/* Layout 1 logo */

.shoe {
    height: 85%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    display: block;
}

/* Nike Text and Logo */

.nikeshop{
    transform: translate(20%,-350%);
}

/* Nike Text*/

.nikelogo{
    display: block;
}

.nikelogo h3{
    font-size: 400%;
}

/* Shop button */

.shop-btn{
    background-color: #82F4D3;
    width: 12%;
    height: 5%;
    padding-top: 0.5%;
    transform: translate(30%,0%);
    border: outset 2px;
}

.shop-btn p{
    text-transform: uppercase;
    word-spacing: 0.01px;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
}   
/* Layout 1 footer */

.term-text{
    display: inline-block;
    transform: translate(0%,-650%);
    
}

.term-text p{
    color: #6a6a6a;
    line-height: 100%;
    font-size: 70%;
    transform: rotate(270deg);
}

/* Social icons*/

.soc-list{
    list-style: none;
    display: inline-block;
    transform: translate(2700%,-180%);

}

.soc-ico img{
    height: 7%;
    width: auto;
    padding-bottom: 20%;
}
